smdcrmClient/Service References/wscrm/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/smdcrmws" />
  <xs:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/sdmcrmws.data" />
  <xs:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/smdcrmws" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/smdcrmws" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/sdmcrmws.data" minOccurs="0" name="GetClientesSyncResult" nillable="true" type="q3:ArrayOfwsCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutClienteSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutClienteSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/sdmcrmws.data" minOccurs="0" name="PutClienteSyncResult" nillable="true" type="q5:wsControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutClientesSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutClientesSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/sdmcrmws.data" minOccurs="0" name="PutClientesSyncResult" nillable="true" type="q7:wsControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>