smdcrmClient/Service References/wscrm/SMDCRM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMDCRM" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/smdcrmws" />
      <xsd:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/sdmcrmws.data" />
      <xsd:import schemaLocation="http://localhost/smdcrmws/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmdcrmws_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_GetClientesSync_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesSync" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_GetClientesSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_PutClienteSync_InputMessage">
    <wsdl:part name="parameters" element="tns:PutClienteSync" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_PutClienteSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutClienteSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_PutClientesSync_InputMessage">
    <wsdl:part name="parameters" element="tns:PutClientesSync" />
  </wsdl:message>
  <wsdl:message name="ISmdcrmws_PutClientesSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutClientesSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmdcrmws">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmdcrmws/GetData" message="tns:ISmdcrmws_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmdcrmws/GetDataResponse" message="tns:ISmdcrmws_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmdcrmws/GetDataUsingDataContract" message="tns:ISmdcrmws_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmdcrmws/GetDataUsingDataContractResponse" message="tns:ISmdcrmws_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmdcrmws/GetClientesSync" message="tns:ISmdcrmws_GetClientesSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmdcrmws/GetClientesSyncResponse" message="tns:ISmdcrmws_GetClientesSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutClienteSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmdcrmws/PutClienteSync" message="tns:ISmdcrmws_PutClienteSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmdcrmws/PutClienteSyncResponse" message="tns:ISmdcrmws_PutClienteSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutClientesSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmdcrmws/PutClientesSync" message="tns:ISmdcrmws_PutClientesSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmdcrmws/PutClientesSyncResponse" message="tns:ISmdcrmws_PutClientesSync_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SMDCRM" />
</wsdl:definitions>